nomad_host_master_int: "{{ nomad01.droplet.private_ip_address }}"
nomad_host_minion_01_int: "{{ nomad02.droplet.private_ip_address }}"
nomad_host_minion_02_int: "{{ nomad03.droplet.private_ip_address }}"
nomad_host_master: "{{ nomad01.droplet.ip_address }}"
nomad_host_minion_01: "{{ nomad02.droplet.ip_address }}"
nomad_host_minion_02: "{{ nomad03.droplet.ip_address }}"